

.Elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10 px;
    margin: 6 px;
    padding: 5 px;
    border-radius: 5px;
}
.Elem:hover{
    background-color: lightgray;
}

.image{
    width: 200px;
    height: auto;
}